
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 welcome-message">
                <div class="row">
                    <div class="col-6 text-left">
                        Welcome
                    </div>
                    <div class="col-6 text-right">
                        <a href="#" class="btn btn-danger" (click)="logout($event)" [class.disabled]="isLoggingOut">Logout</a>
                    </div>
                </div>
            </div>
        </div>  
    </div> 

